*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", tahoma, sans-serif;
}

html, body {
    width: 100%;
}

@font-face { /* Escolha de fonte local */
    src: url(../fonts/OpenSans-Light.ttf);
    font-family: "Open Sans";
}

.clear{
    clear: both;
}

.center{
    width: 100%;
    margin: 0 auto;
}

.header{
    width: 100%;
    padding: 0 2%;
    height: 60px;
    background-color: #212343;
}

.header img{
    padding: 19px;
}

.container-banner{
    width: 100%;
    padding: 0 2%;
    height: 557px;
    background-image: url(../images/header_bg.png);
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;
    text-align: center;
}

.form{
    width: 35%;
    max-width: 400px;
    height: calc(100% + 30px);
    padding: 15px;
    float: right;    
    background-color: white;
    position: relative;
    top: -15px;
    border: 10px solid rgba(100, 100, 100,0.5);
    background-clip: padding-box;
    text-align: left;
}

.form h2{
    font-weight: normal;
    color: rgb(100, 100, 100);
    font-size: 23px;
    text-align: justify;
}

.input-container{
    margin-top: 20px;
}

.input-container span, .form p{
    display: inline-block;
    width: 100%;
    color: rgb(125, 125, 125);
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}

.form p{
    margin: 20px 0 28px 0;
}

.input-container input[type=text]{
    margin-top: 10px;
    max-width: 344px;
    width: 100%;
    height: 55px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 17px;
    font-family: "Open Sans";
}

.form .input-submit-container{
    text-align: center;
}

.form input[type=submit]{
    width: 100%;
    max-width: 280px;
    height: 56px;
    background-color: #212343;
    border: none;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    display: inline-block;
    cursor: pointer; 
}

.form input[type=submit]:hover{
   font-size: 28px;
   letter-spacing: 4px;
   background-color: rgb(30, 30, 63);
}

.container-list{
    width: 50%;
    max-width: 619px;
    min-height: 270px;
    padding-bottom: 15px;
    margin-top: calc((557px - 270px)/3);
    float: left;
    background-color: rgba(33, 35, 67, 0.8);
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    margin-top: 18px;
    color: white;
    padding: 0 10px;
    text-align: justify;
}

.container-text{
    width: 100%;
    padding: 40px 0px;
    background-color: rgb(215, 215, 215);
    text-align: center;
}

.container-text h2{
    font-size: 25px;
    font-weight: normal;
}

.container-text p{
    margin-top: 10px;
    width: 80%;
    max-width: 698px;
    margin: 15px 0;
    text-align: justify;
    display: inline-block;
    line-height: 20px;
}

.arrow{
    width: 40px;
    height: 40px;
    background-image: url(../images/arrow.png);
    background-size: 100% 100%;
    left: calc(50% - 20px); /* 50% da largura da esquerda menos 20px da metade da largura da imagem */
    position: relative;
    top: 60px;
}

.container-end{
    padding: 70px 0;
    margin: 0 0;
    text-align: center;
    width: 100%;
}

.container-end h2{
    text-align: center;
    color: #462663;
    font-weight: normal;
    font-size: 25px;
    padding: 0 10px;
}

.container-end-test{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.container-end-block{
    display: inline-block;
    width: calc((100%) / 3);
    padding: 0 15px;
    margin-right: -4px;
}

.image-icon{
    display: inline-block;
    padding: 20px 0 0 0;
}

.container-end-single h2{
    padding: 20px 0;
    font-size: 20px;
}

.container-end-single{
    text-align: justify;
}

.footer{
    padding: 30px 0;
    border-top: 4px solid black;
    background-color: #212343;
    text-align: center;
    color: white;
}
.footer p{
    padding: 5px;
    font-family: Orbitron;
    font-size: 10px;
}

@media screen and (max-width: 1024px) {
    .header{
        width: 100%;
        padding:0px 2%;
        background-color: #212343;
        text-align: center;             
    }

    .header img{
        display: inline-block;
        margin-right: -4px;
    }

    .container-banner{
        width: 100%;
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .form{
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-top: 40px;
    float: none;
    display: inline-block;
    }

    .container-list{
        width: 90%;
        max-width: 400px;
        margin-top: auto;
        float: none;
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .container-end{
        width: 100%;
        text-align: center;
    }

    .container-end-block{
        float: none;
        display: inline-block;
        width: 85%;
        max-width: 600px;
        margin-right: -4px;
    }
}